@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

h1 {
  font-size: 3rem;
}
h2{
 
    font-size: 2.5rem;
  
}

@media (min-width: 576px) { 
  h1 {
  font-size: 4.5rem;
} 
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { h1 {
  font-size: 5rem;
} }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { h1 {
  font-size: 5.5rem;
} }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { h1 {
  font-size: 6rem;
} }